# For local development or Docker container testing:
# MONGO_URI=mongodb://<username>:<password>@<host>:<port>/student_db

# For Production (MongoDB Atlas Cloud Connection):
MONGO_URI=mongodb+srv://<username>:<password>@<cluster-url>/student_db?retryWrites=true&w=majority

FLASK_ENV=production

